  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

  .nama{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  }

  section.doa {
    background-color: white;
    font-family: "Edu VIC WA NT Beginner";
  }
  